.image_card_top{
    margin: 0 auto;
    background-image: url('https://naurok-test.nyc3.cdn.digitaloceanspaces.com/4221/images/234596_1587332379.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 180px;
    background-position: center;
}

.price {
    width: 80% !important;
    margin-top: 20px !important ;
    margin-bottom: 30px !important;
}
