/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --nav-width: 68px;

  /*===== Colors =====*/
  --first-color: #314584;
  --first-color-light: #a2abc7;
  --white-color: #f7f6fb;

  /*===== Font and typography =====*/
  --normal-font-size: 1rem;

  /*===== z index =====*/
  --z-fixed: 10;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: var(--normal-font-size);
  transition: 0.5s;
}

a {
  text-decoration: none !important;
  font-size: var(--normal-font-size);
}

/* ===== HEADER ===== */
.header {
  width: 100%;
  height: var(--header-height);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  /* background-color: var(--white-color); */
  background-color: transparent;
  /* z-index: var(--z-fixed); */

  transition: 0.5s;
}

.header__toggle {
}
.header__toggle img {
  height: 50px;
}

.header__content {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}

.header__menu {
  width: 100%;
}
.header__menu ul {
  list-style: none;
  width: 100%;
  height: 100%;
  background-color: #ffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 0.1rem 0.5rem;
  margin: 0;
}
.header__menu li {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.2rem;
}
.header__menu li:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.header__img {
  width: 45px;
  height: 45px;
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.header__img:hover {
  cursor: pointer;
}

.header__img img {
  width: 45px;
}

/*===== NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  /* width: calc(var(--nav-width) + 156px); */
  height: 100vh;
  background-color: var(--first-color);
  padding: 0.5rem 0 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo,
.nav__link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav__logo {
  margin-bottom: 2rem;
}

.nav__logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}
.nav__logo-icon:hover {
  cursor: pointer;
}
.nav__logo-name {
  color: var(--white-color);
}

.nav__link {
  position: relative;
  margin-bottom: 1.5rem;
  transition: 0.3s;
  border-radius: 4px;
  color: var(--first-color-light) !important;
}

.nav__link:hover {
  color: var(--white-color) !important;
  cursor: pointer;
}

.nav__icon {
  font-size: 1.25rem;
}

/*Show navbar movil*/
.show {
  left: 0;
}

/*Add padding body movil*/
.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.activado {
  color: var(--white-color) !important;
}
/* .active::before{
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
  } */
.body-mod {
  margin: calc(var(--header-height) + 1rem) 0 0 0;
  padding-left: var(--nav-width);
}
.remove-element {
  display: none;
}
/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  body {
    /* margin: calc(var(--header-height) + 1rem) 0 0 0;
      padding-left: calc(var(--nav-width) + 2rem); */
  }

  .header {
    position: relative;
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) - 1.1rem);
  }

  .header__img {
    width: 45px;
    height: 45px;
  }

  .header__img img {
    width: 45px;
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  /*Show navbar desktop*/
  .show {
    width: calc(var(--nav-width) + 156px);
  }

  /*Add padding body desktop*/
  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}

/* desing new  */
.l-navigation {
  width: 100%;
  background-color: var(--first-color);
  color: rgba(255, 255, 255, 0.7);
  margin: 0 !important;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}
.l-navigation .navigation ul {
  list-style: none;
  flex-direction: row;
  display: flex;
  align-items: center;
  margin: 0;
  width: 50%;
}

.navigation ul .items {
  font-size: 1rem;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  padding: 0.5rem 0;
  margin-right: 2rem;
}

.navigation ul .items:hover {
  color: #fff;
  cursor: pointer;
}
.border-bt {
  border-bottom: 2px solid white;
  /* color: red; */
}

.dropdown-subitem {
  display: none;
  position: absolute;
  top: 40px;
  background-color: #314584;
  width: 144px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0.3rem 0.5rem;
}
.dropdown-subitem a {
  display: block;
  color: rgba(255, 255, 255, 0.59) !important;
  padding: 0.4rem 1rem;
}
.dropdown-subitem > a:focus,
a:hover {
  color: #fff !important;
}
.dropdown-item:hover {
  background-color: none !important;
}

.dropdown:hover .dropdown-subitem {
  display: block;
  color: #1a1a1a;
}
